$icon-font-path: "/bootstrap/fonts/bootstrap/";
@import "../public/bootstrap/stylesheets/bootstrap";


// Custom Fonts

@font-face {
  font-family: '28 Days Later';
  src: url('/fonts/28-days-later/28 Days Later.eot');
  src: url('/fonts/28-days-later/28 Days Later.woff2') format('woff2'),
  url('/fonts/28-days-later/28 Days Later.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '28DaysLater';
  src: url('/fonts/28-days-later/28DaysLater.woff') format('woff'),
  url('/fonts/28-days-later/28DaysLater.ttf') format('truetype'),
  url('/fonts/28-days-later/28DaysLater.svg#28DaysLater') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel';
  src: url('/fonts/Corbel/Corbel.eot');
  src: url('/fonts/Corbel/Corbel.woff2') format('woff2'),
  url('/fonts/Corbel/Corbel.woff') format('woff'),
  url('/fonts/Corbel/Corbel.ttf') format('truetype'),
  url('/fonts/Corbel/Corbel.svg#Corbel') format('svg'),
  url('/fonts/Corbel/Corbel.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel Bold';
  src: url('/fonts/Corbel/Corbel Bold.eot');
  src: url('/fonts/Corbel/Corbel Bold.woff2') format('woff2'),
  url('/fonts/Corbel/Corbel Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel-Bold';
  src: url('/fonts/Corbel/Corbel-Bold.woff') format('woff'),
  url('/fonts/Corbel/Corbel-Bold.ttf') format('truetype'),
  url('/fonts/Corbel/Corbel-Bold.svg#Corbel-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Social Icons */


.social {
  margin: 0;
  padding: 0;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  margin: 5px;
  list-style: none outside none;
  display: inline-block;
}

.social i {
  width: 40px;
  height: 40px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
  text-align:center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

// Custom

.social .fa-facebook {
  background: #4060A5;
  color: #fff;
}

.social .fa-twitter {
  background: #00ABE3;
  color: #fff;
}


.social .fa-facebook:hover {
  background: #FFF;
  color: #4060A5;
}

.social .fa-twitter:hover {
  background: #FFF;
  color: #00ABE3;
}

//

.social .fa-google-plus:hover {
  background: #e64522;
}

.social .fa-github:hover {
  background: #343434;
}

.social .fa-pinterest:hover {
  background: #cb2027;
}

.social .fa-linkedin:hover {
  background: #0094BC;
}

.social .fa-flickr:hover {
  background: #FF57AE;
}

.social .fa-instagram:hover {
  background: #375989;
}

.social .fa-vimeo-square:hover {
  background: #83DAEB;
}

.social .fa-stack-overflow:hover {
  background: #FEA501;
}

.social .fa-dropbox:hover {
  background: #017FE5;
}

.social .fa-tumblr:hover {
  background: #3a5876;
}

.social .fa-dribbble:hover {
  background: #F46899;
}

.social .fa-skype:hover {
  background: #00C6FF;
}

.social .fa-stack-exchange:hover {
  background: #4D86C9;
}

.social .fa-youtube:hover {
  background: #FF1F25;
}

.social .fa-xing:hover {
  background: #005C5E;
}

.social .fa-rss:hover {
  background: #e88845;
}

.social .fa-foursquare:hover {
  background: #09B9E0;
}

.social .fa-youtube-play:hover {
  background: #DF192A;
}


.heading-font {
  font-family: 'Corbel Bold', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Corbel', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Corbel', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Corbel', 'Helvetica', 'Arial', 'sans-serif';
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}
a:hover,
a:focus {
  color: #fcbd20;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.navbar-default {
  background-color: black;
  border-color: black;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #fdcc52;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  padding: 8px 10px;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  color: rgba(255, 255, 255, 0.7);
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fff;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #fff !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: #000;
    border-color: #000;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #fff;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #fff;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url("../img/bg1.jpeg") no-repeat center center fixed;
  /* fallback for old browsers */
  background: url("../img/bg1.jpeg"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../img/bg1.jpeg"), linear-gradient(to left, #7b4397, #dc2430);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  background-size: cover;
  height: 100%;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 30px;
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    top: 40%
  }
  header .header-content .header-content-inner h1 {
    font-size: 35px;
  }

}
@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}
section {
  padding: 40px 0;
}
section h2 {
  font-size: 40px;
}
section.download {
  padding: 150px 0;
  position: relative;
}
section.download h2 {
  margin-top: 0;
  font-size: 50px;
}
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}
section.features .section-heading {
  margin-bottom: 50px;
}
section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}

.section-heading {
  color: #7b4397;
  font-weight: 600;
}

.feature-item {
  text-align: center;
  margin-bottom: 100px;
}
section.features .feature-item h3 {
  font-size: 30px;
}
.feature-item i {
  font-size: 80px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.cta {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/bg-cta.jpg');
  padding: 50px 0;
  height: 90%;
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  max-width: 600px;
  font-size: 30px;
}
@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 40px;
  }
}
section.cta .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
section.contact {
  text-align: center;
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}
footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}
footer p {
  font-size: 12px;
  margin: 0;
}
footer ul {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active {
  text-decoration: none;
}
.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}
.text-primary {
  color: #fdcc52;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #7b4397;
  border-color: darken(#7b4397, 10%);
}
.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}

.tipos {
  color: #ff5a5f;
}


.tipos:hover,
.tipos:active,
.tipos:focus {
  text-decoration: none;
  color: darken(#ff5a5f, 20%);
}


.flex-group {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-basis: 200px;
  width: 200px;
  text-align: center;
}

// Homepage Carousel

.carousel-inner{
  max-height: 85vh !important;
}

// Navbar

@media (min-width: 768px) {
  .affix-top .navbar-brand {

    background: url(/img/logo.png) no-repeat left center;
    background-size: contain;
    width: 250px;
    margin-top: 15px;
    margin-left: 15px;

  }
}

@media (max-width: 767px) {
  .affix-top .navbar-brand {

    background: url(/img/logo.png) no-repeat left center;
    background-size: contain;
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;

  }
}

.affix .navbar-brand  {

  background: url(/img/logo.png) no-repeat left center ;
  background-size: contain;
  width: 150px;
  margin-top: 5px;
  margin-left: 15px;

}

@media (min-width: 768px) {
  .affix-top .nav > li > a {

    font-family: '28DaysLater' !important;
    font-size: 16px;

  }
}

@media (min-width: 768px) {
  .affix .navbar-right {

    margin-top: 2.5px;

  }
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #333;
}

// Testing some backgrounds

#gradient {
  width: 100%;
  padding: 0px;
  margin: 0px;
}


// Images in homepage

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

// Sections

#nosotros {
  height: 100%;
  margin: 0px;
}

#servicios {
  //background-color: #e52e33;
  background-color: #333;
  min-height: 100%;
  margin: 0px;
  color: #fff;
}

#servicios h1, #servicios h2, #servicios h3 {

  color: #fff;
}

.services-list img {
  padding: 30px;
}

#clientes {
  min-height: 100%;
  margin: 0px;
}

#galeria {
  min-height: 100%;
  margin: 0px;
}

.start {
  padding: 100px 0;
}

section#contact {
  background-color: #222222;
  background-image: url('/img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}

// Custom Button

.btn-dark {
  color: #e52e33;
  border-color: #e52e33;
  border: 1px solid;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active {
  color: white;
  background-color: #e52e33;
  border-color: darken(#e52e33, 10%);
}