{% extends "galeria.html" %}
{% block gallery %}
<img src="/img/corporativos/Imagen-1.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-10.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-11.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-12.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-13.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-14.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-15.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-16.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-17.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-18.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-2.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-3.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-4.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-5.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-6.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-7.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-8.jpg" alt="Evento Corporativo Concepto3">
<img src="/img/corporativos/Imagen-9.jpg" alt="Evento Corporativo Concepto3">


{% endblock %}

