{% extends "galeria.html" %}
{% block gallery %}

<img src="/img/culturales/Homenaje Juan Gabriel 1.jpg" alt="Evento Cultural Concepto3" data-caption="Homenaje a Juan Gabriel">
<img src="/img/culturales/Homenaje Juan Gabriel.JPG" alt="Evento Cultural Concepto3" data-caption="Homenaje a Juan Gabriel">
<img src="/img/culturales/Homenaje juan Gabriel 6.jpg" alt="Evento Cultural Concepto3" data-caption="Homenaje a Juan Gabriel">
<img src="/img/culturales/Homenaje juan gabriel 5.jpg" alt="Evento Cultural Concepto3" data-caption="Homenaje a Juan Gabriel">
<img src="/img/culturales/Homenaje-Juan Gabriel 4.jpg" alt="Evento Cultural Concepto3" data-caption="Homenaje a Juan Gabriel">
<img src="/img/culturales/IMG_2411.jpg" alt="Evento Cultural Concepto3" data-caption="Evento">
<img src="/img/culturales/Juan Luis Guerra punta mita portada.jpg" alt="Evento Cultural Concepto3" data-caption="Concierto Juan Luis Guerra, Punta Mita (2016)">
<img src="/img/culturales/Juan Luis guerra Punta mita.jpg" alt="Evento Cultural Concepto3" data-caption="Concierto Juan Luis Guerra, Punta Mita (2016)">
<img src="/img/culturales/Juan Luis guerra punta mita 2.jpg" alt="Evento Cultural Concepto3" data-caption="Concierto Juan Luis Guerra, Punta Mita (2016)">
<img src="/img/culturales/Concierto de Navidad-2.jpg" alt="Evento Cultural Concepto3" data-caption="Concierto de Navidad">
<img src="/img/culturales/Concierto de Navidad-3.jpg" alt="Evento Cultural Concepto3" data-caption="Concierto de Navidad">
<img src="/img/culturales/Concierto de Navidad.jpg" alt="Evento Cultural Concepto3" data-caption="Concierto de Navidad">
<img src="/img/culturales/DSCF8842.JPG" alt="Evento Cultural Concepto3" data-caption="Evento">
<img src="/img/culturales/DSCF8856.JPG" alt="Evento Cultural Concepto3" data-caption="Evento">
<img src="/img/culturales/DSCF8939.JPG" alt="Evento Cultural Concepto3" data-caption="Evento">
<img src="/img/culturales/DSCF9167.JPG" alt="Evento Cultural Concepto3" data-caption="Evento">
<img src="/img/culturales/Sala de Armas.jpg" alt="Evento Cultural Concepto3" data-caption="Sala de Armas">
<img src="/img/culturales/Star War.jpg" alt="Evento Cultural Concepto3" data-caption="Star Wars">
<img src="/img/culturales/Teleton.jpg" alt="Evento Cultural Concepto3" data-caption="Teleton">
<img src="/img/culturales/fuji 061.jpg" alt="Evento Cultural Concepto3" data-caption="Evento">
<img src="/img/culturales/fuji 072.jpg" alt="Evento Cultural Concepto3" data-caption="Evento">
<img src="/img/culturales/fuji 077.jpg" alt="Evento Cultural Concepto3" data-caption="Evento">
<img src="/img/culturales/unnamed (1).jpg" alt="Evento Cultural Concepto3" data-caption="Evento">


{% endblock %}
