{% extends "galeria.html" %}
{% block gallery %}

<img src="/img/culturales/Imagen-1.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-10.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-11.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-12.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-2.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-3.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-4.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-5.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-6.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-7.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-8.jpg" alt="Eventos Culturales Concepto3">
<img src="/img/culturales/Imagen-9.jpg" alt="Eventos Culturales Concepto3">


{% endblock %}
