{% extends "galeria.html" %}

{% block gallery %}
<img src="/img/equipo/Auditorio felipe Villanueva.jpg" alt="Equipo Concepto3" data-caption="Auditorio Felipe Villanueva">
<img src="/img/equipo/Imagen-1.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-2.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-3.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-4.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-5.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-6.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-7.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-8.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-9.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-10.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-11.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-12.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-13.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-14.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-15.jpg" alt="Equipo Concepto3">
<img src="/img/equipo/Imagen-16.jpg" alt="Equipo Concepto3">

{% endblock %}
