{% extends "galeria.html" %}
{% block gallery %}
<img src="/img/exposiciones/Imagen-1.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-10.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-11.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-2.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-3.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-4.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-5.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-6.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-7.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-8.jpg" alt="Ferias y Exposiciones Concepto3">
<img src="/img/exposiciones/Imagen-9.jpg" alt="Ferias y Exposiciones Concepto3">

{% endblock %}
