{% extends "master.html" %}
{% block css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="/fotorama/fotorama.css" type="text/css">
<style>

  .fotorama__caption {
    text-align: center;
    font-family: inherit !important;
  }

</style>
{% endblock %}
{% block embed %}


  <div class="container" id="gradient" >
    <div class="row">
      <div class="col-xs-12">
        <div class="fotorama"
             data-width="100%"
             data-maxheight="100%"
             data-ratio="800/600"
             data-nav="thumbs"
             data-transition="crossfade"
             data-allowfullscreen="true"
        >
          {% block gallery %}
          <img src="/img/galeria/Evento-1.jpg" alt="Evento 1">
          <img src="/img/galeria/Evento-2.jpg" alt="Evento 2">
          <img src="/img/galeria/Evento-3.jpg" alt="Evento 3">
          <img src="/img/galeria/Evento-4.jpg" alt="Evento 4">
          <img src="/img/galeria/Evento-5.jpg" alt="Evento 5">
          <img src="/img/galeria/IMSS.jpg" alt="Evento 5">
          <img src="/img/galeria/PRD.jpg" alt="Evento 5">
          {% endblock %}
        </div>
      </div>
    </div>

    <section>
    <div class="container-fluid">
      <h3 style="color: #fff;">Visitar otras galerías:</h3>
      <hr>
      <div class="flex-group">
        <div class="wrapper">
          <a href="/corporativos" class="tipos">
            <img src="/img/corporativos.jpg" alt="Eventos Corporativos" class="img-responsive grow">
            <h4 style="text-transform: uppercase; letter-spacing: 2px; margin-top: 20px;">Corporativos</h4>
          </a>
        </div>
        <div class="wrapper">
          <a href="/deportivos" class="tipos">
            <img src="/img/deportivos.jpg" alt="Eventos Deportivos" class="img-responsive grow">
            <h4 style="text-transform: uppercase; letter-spacing: 2px; margin-top: 20px;">Deportivos</h4>
          </a>
        </div>
        <div class="wrapper">
          <a href="/culturales" class="tipos">
            <img src="/img/culturales.jpg" alt="Eventos Culturales" class="img-responsive grow">
            <h4 style="text-transform: uppercase; letter-spacing: 2px; margin-top: 20px;">Culturales</h4>
          </a>
        </div>
        <div class="wrapper">
          <a href="/expos" class="tipos">
            <img src="/img/expos.jpg" alt="Expos Concepto 3" class="img-responsive grow">
            <h4 style="text-transform: uppercase; letter-spacing: 2px; margin-top: 20px;">Ferias y Exposiciones</h4>
          </a>
        </div>
        <div class="wrapper">
          <a href="/sociales" class="tipos">
            <img src="/img/sociales.jpg" alt="Eventos Sociales Concepto3" class="img-responsive grow">
            <h4 style="text-transform: uppercase; letter-spacing: 2px; margin-top: 20px;">Sociales</h4>
          </a>
        </div>
      </div>
    </div>
</section>

</div>


{% endblock %}

{% block scripts %}
<script src="/fotorama/fotorama.js"></script>

    <script>

      var colors = new Array(
          [0,0,0],
          [14,14,14],
          [0,0,0],
          [38,38,38]);

      var step = 0;
      //color table indices for:
      // current color left
      // next color left
      // current color right
      // next color right
      var colorIndices = [0,1,2,3];

      //transition speed
      var gradientSpeed = 0.002;

      function updateGradient()
      {

        if ( $===undefined ) return;

        var c0_0 = colors[colorIndices[0]];
        var c0_1 = colors[colorIndices[1]];
        var c1_0 = colors[colorIndices[2]];
        var c1_1 = colors[colorIndices[3]];

        var istep = 1 - step;
        var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
        var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
        var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
        var color1 = "rgb("+r1+","+g1+","+b1+")";

        var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
        var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
        var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
        var color2 = "rgb("+r2+","+g2+","+b2+")";

        $('#gradient').css({
          background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
          background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});

        step += gradientSpeed;
        if ( step >= 1 )
        {
          step %= 1;
          colorIndices[0] = colorIndices[1];
          colorIndices[2] = colorIndices[3];

          //pick two new target color indices
          //do not pick the same as the current one
          colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
          colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;

        }
      }

      setInterval(updateGradient,10);
    </script>
{% endblock %}