{% extends "master.html" %}

{% block embed %}


<div class="container">
  <section class="start">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h3 class="section-heading">Nuestros Servicios</h3>
          <p>
            Tenemos la capacidad para cubrir todo tipo de presentaciones en espacios abiertos, cerrados, hoteles, asambleas, congresos, convenciones, juntas de consejo, conciertos, fiestas tema, exposiciones, seminarios, ferias, lanzamiento de producto, activaciones, etc.
          </p>
        <hr style="margin-bottom: 50px;">
      </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="row">
      <!-- Column 1 -->
      <div class="col-sm-6 col-xs-12">
        <div class="media">
          <div class="media-left">
              <img class="media-object grow" src="/img/servicios/audio.png" alt="Audio Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Audio</h4>
            <p>
            Lineal y convencional, mezcladoras análogas y digitales, sistemas auto amplificados, procesadores de dinámica, micrófonos inalámbricos y alámbricos, sistemas de monitoreo personal, etc.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/video.png" alt="Video Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Video</h4>
            <p>
            Pantallas para proyección con marco y tripié, video proyectores HD y convencional, pantallas de plasma, pantallas de leds interior y exterior.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/iluminacion.png" alt="Iluminación Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Iluminacion</h4>
            <p>
              Iluminación inteligente “Cabeza móvil”, Leds, beam, convencional.

            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/estructuras.png" alt="Estructuras Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Estructuras</h4>
            <p>
              Escenarios, Ground support, Truss, Genie Tower, vallas de seguridad, motores.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/video4.png" alt="Producción de Video Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Produccion de Video</h4>
            <p>
              Formato standard y Full HD, edición y post-producción, elaboración de videos corporativos, video memoria, inductivos, comerciales, animaciones en 2D y 3D,  circuito cerrado, unidad móvil, levantamiento de imagen, fotografía, etc.
            </p>
          </div>
        </div>
      </div>

      <!-- Column 2 -->

      <div class="col-sm-6 col-xs-12">
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/audio3.png" alt="Audio Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Produccion de Audio</h4>
            <p>
              Grabación y post-producción de comerciales, spots, promociónales, doblaje, locución, estudio de grabación digital, sala de ensayos, producción musical, publicidad (jingles), temas institucionales para empresas.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/escenografia.png" alt="Escenografía Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Escenografia</h4>
            <p>
              Diseño, elaboración y montaje de escenografías, lonas, mantas y medios impresos.

            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/traduccion.png" alt="Traducción Simultánea Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Traduccion Simultanea</h4>
            <p>
              Cabinas aisladas, equipo de radio frecuencia, traductores Inglés, Español, Francés, Chino, Alemán.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/expos.png" alt="Stands Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Stand</h4>
            <p>
              Diseño, elaboración y montaje de stands “custom y sistema”, entrega de proyecto con render.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <img class="media-object grow" src="/img/servicios/efectos.png" alt="Efectos especiales Concepto 3" width="100">
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">Efectos Especiales</h4>
            <p>
              Pirotecnia “Interior y Exterior”, papirotecnia (Efectos de papel), maquinas de niebla, Haze, CO2, rayo láser, etc.
            </p>
          </div>
        </div>
      </div>
      <!-- End column 2 -->
            </div>
          </div>
    </div>
  </section>
</div>
{% endblock %}